<h2>{{ warbandSettings.title }}</h2>
    Filter by Name: <input type="text" data-ng-model="customerFilter.name" />
    Filter by Type: <input type="text" data-ng-model="customerFilter.type" />
<table>
    <tr>
        <th data-ng-click="doSort('name')">Name</th>
        <th data-ng-click="doSort('type')">Type</th>
        <th></th>
    </tr>
    <tr data-ng-repeat="warband in warbands | filter:customerFilter | orderBy:sortBy:!reverse">
        <td>{{ warband.name}}</td>
        <td>{{ warband.type}}</td>
        <td><a href="#/warbands/{{ warband.id }}">Members</a></td>
    </tr>
</table>
<br />
Number of Warbands: {{ warbands.length }}