<h2>{{ catSettings.title }}</h2>
    Search by Name: <input type="text" data-ng-model="customerFilter.name" />
    Search by City: <input type="text" data-ng-model="customerFilter.city" />

<table>
    <tr>
        <th data-ng-click="doSort('name')">Name</th>
        <th data-ng-click="doSort('city')">City</th>
        <th data-ng-click="doSort('born')">Born</th>
        <th></th>
    </tr>
    <tr data-ng-repeat="cat in cats | filter:customerFilter | orderBy:sortBy:!reverse">
        <td>{{ cat.name}}</td>
        <td>{{ cat.city}}</td>
        <td>{{ cat.born | date:'longDate'}}</td>
        <td><a href="#/fluffy/{{ cat.id }}">Nicknames</a></td>
    </tr>
</table>
<br />
Number of Cats: {{ cats.length }}
<br/>
<br/>
<footer>Version: {{ catSettings.bestFeature }}</footer>